.travel-booking{
    margin-top: 100px;
    margin-bottom: 100px;
}
.spin{
    margin-top: 100px;
}
.booking-info{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 17px;
    line-height: 30px;
    
}
.tour-img{
    border-radius: 10px;
}