
.about-container{
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif;
}
.about-title{
font-size: 22px;
font-weight: bold;
}
.about-para{
    font-size: 16px;
    line-height: 35px;
    text-align: justify;
}
.about-paragraph{
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
   
}
.about-feature{
    font-size: 18px;
   
    
}
.about-img {
    border-radius: 10px;
    box-shadow: 10px 10px 10px lightgray;
}
.team-card{
    box-shadow: 10px 10px 10px lightgray;
}