/* styling navbar font  */
.brand-logo {
  width: 100px;
  height: 50px;
}
.nav-container .nav-item {
  font-family: 'Poppins', sans-serif;
  transition: all;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}
.btn-text{
  font-family: 'Poppins', sans-serif;
}
